.main{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    gap: 2px;
    padding: 12px 24px;
    background: rgb(133,215,239);
    flex: 1;
 
}

.contenido{
    gap: 2px;
    padding: 12px 24px;
    background: rgb(193,219,210);
    flex: 4;

}